{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "comments": false,
     "minified": true,
}
