@import './fields.less';
// @import './layouts.less';
// @import './widgets.less';
// @import './formitem.less';
@import './antdbase.less';


@box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
@title-field-text-color: #666666;
@field-border-color: #f0f2f5;