.container {
    width: 900px;
    padding: 0px 20px;
    border: 1px solid rgb(81, 80, 80);
    margin: 50px auto;
    .submit {
        position: relative;
        width: 100px;
        margin: 30px auto 50px auto;
        height: 50px;
        cursor: pointer;
        background-color: rgb(133, 159, 255);
        color: rgb(255, 255, 255);
        &:hover {
        background-color: rgb(88, 97, 255);
        color: white;
        }
        span {
            display: block;
            margin: 0 auto;
            height: 50px;
            width: auto;
            line-height: 50px;
            font-size: 1.6em;
            font-family: fantasy;
            text-align: center;
        }
    }
}