.array-field {
    h3{
        border-bottom: 1px solid rgb(199, 199, 199);
        margin: 5px 5px 15px 5px;
        padding-bottom: 5px;
        font-size: 17px;
    }
    .array-wrapper {
        position: relative;
        
        .array-items {
            position: relative;
            margin-top: 40px;
            .item-handle {
                position: absolute;
                top:-20px;
                right: 55px;
                span{
                    font-size: .6em;
                    color: rgb(53, 54, 54);
                    margin: 3px 5px;
 
                    &:hover {
                        cursor: pointer;
                        color: blue;
                    }
                }
                
            }
        }
    }
    .add-item {
        display: block;
        position: relative;
        left: 85%;
        width: 50px;
        padding: 5px;
        margin-bottom: 30px;
        margin-top: 10px;
        background-color: rgb(211, 211, 211);
        color: rgb(71, 71, 71);
        border: 1px solid rgb(66, 66, 66);
        &:hover {
            background-color: rgb(72, 72, 255);
            color: aliceblue;
        }
    }
}